body {
    background-color: #FF6699;
    color: #9C4D6C;
    font-family: "Bai Jamjuree", ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #F7A4B6;
    color: #9C4D6C;
    font-family: "Bai Jamjuree", ubuntu;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
